node_modules
dist
docs
coverage
.ci
.github
.data
README.md
.vscode
scripts
.git

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

Dockerfile
docker-compose.yml
docker
